<h1>My tasks</h1>
<ul>
  <% @tasks.each do |task| %>
    <li>
      <input type="checkbox" name="completed" value="<%= task.completed %>" <%= 'checked' if task.completed %>>
      <%= task.title %> 
    </li>
  <% end %>
</ul>